@import url('https://fonts.googleapis.com/css?family=Comfortaa|Flamenco|Poiret+One');

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-size: 10vw;
    max-height: 100vh;
    color: white;
    font-weight: normal;
}

.pretty_button {
    text-align: center;
    background: azure;
    padding: 1em;

    background: rgba(0, 0, 0, 0.1);
    border: white 2px solid;

    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;

    transition: 0.2s;
}

.pretty_button:hover {
    background: rgba(0, 0, 0, 0.3);
}

.bottom_left_float {
    position: fixed;
    left: 1em;
    bottom: 1em;
}
