 @import url('https://fonts.googleapis.com/css?family=Coming+Soon|Nanum+Pen+Script|Open+Sans|Patrick+Hand+SC');

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-size: 10vw;
    max-height: 100vh;
    color: white;
}
/* TODO: only pick appropriate colours so I can have white text*/