<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Affirmation</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body style="{{ color }}">
<div class="bottom_left_float">
    <button class="pretty_button" onclick="go_back()">Back</button>
{#    <a href="{{ base_url }}">#}
        <button class="pretty_button" onclick="go_forwards()">New</button>
{#    </a>#}
</div>
<h1 style="{{ font }}">{{ message }}</h1>

<script type="text/javascript">
    // TODO: Move this into a .js file
    var name = '{{ recipient }}';
    var sender ='{{ sender }}';
    var seed_value = '{{ seed_value }}';
    {#var base_url = '{{ base_url }}'.replace('{name}', name).replace('{sender}', sender);#}
    var base_url = '{{ base_url }}';
    base_url = base_url.replace('{name}', name);
    base_url = base_url.replace('{sender}', sender);
    history.pushState({seed: seed_value}, "affirmation", window.location);
    // TODO: Back behaviour should still work as expected
    //   History is pushed to avoid back sending the user to the previous site (not page)
    //   But this now makes the user need to press back twice to go back one affirmation

    function go_back() {
        if (window.history.length !== 3) {
            // TODO: Make this actually work - currently only works on brand new tabs
            // May be able to use cookies to store states?
            window.history.go(-2);
        }
    }

    function go_forwards() {
        window.location.replace(base_url);
    }

    document.addEventListener("keydown", event => {
        // If users press 'enter' or 'right arrow' the page refreshes, showing a new affirmation
        if (event.keyCode === 13 || event.keyCode === 39) {
            go_forwards()
        }

        // if user presses left arrow, go to previous affirmation
        else if (event.keyCode === 37) {
            go_back();
        }
    });
</script>
</body>
</html>