<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Affirmation - Home</title>
    <style>
        * {
            --highligh-color: {{ highlight_color }}
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/static/home.css"/>
</head>
<body style="{{ color }}">
<header>
    <div>
        <h1>Affirmation</h1>
        <h5>Feel Good</h5>
    </div>
</header>
<main>
{#    TODO: replace with simple big buttons - 'click here for joy' 'click here for birthdays'#}
    <div class="card">
        <h3>Positive messages</h3>
        <p>Generate positive messages to yourself. Point your screen at someone else to share the positivity.
            Find the perfect message and share it with your friends.</p>
        <a class="blue_button" href="{{ url_for('hello_world') }}">Try it!</a>
    </div>
    <div class="card">
        <h3>Birthday messages</h3>
        <p>Send birthday joy around the world. Send them from you, or send them anonymously.</p>
        {#        <a href="{{ url_for('birthday', birthday_person='Dale') }}">Try it!</a>#}

        {#    TODO: Ask user for birthday-person's name, and senders name    #}
        <form action="">
            <label for="recipient">Birthday persons name:
                <input id="recipient" type="text" name="recipient" minlength="1" placeholder="required"/>
            </label>

            <label for="sender">Your name:
                <input id="sender" type="text" name="sender" placeholder="optional">
            </label>

            <input class="blue_button" type="submit" onclick="return clicked()" value="Send Birthday Joy!"/>
        </form>

    </div>
    <div class="card">
        <h3>Contribute</h3>
        <p>Send a message to the team about other features you'd like, or improvements we can make.</p>
        <a class="blue_button" href="https://github.com/alexfiftysix/Affirmation">Contact</a>
    </div>
</main>
<footer></footer>
<script type="text/javascript">
    function clicked() {
        let base_url = '{{ base_url }}';
        let recipient = document.getElementById('recipient').value;
        let sender = document.getElementById('sender').value;

        let redirect_to = base_url + '/birthday/to=' + recipient;

        if (!recipient) {
            {#TODO: Flash warning/advice to user#}
            return false;
        }


        if (sender) {
            redirect_to += '/from=' + sender;
        }


        window.location = redirect_to;

        return false;
    }
</script>
</body>
</html>