<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Affirmation - Home</title>
    <link rel="stylesheet" type="text/css" href="/static/home.css"/>
</head>
<body style="{{ color }}">
<header>
    <h1>Feel Good</h1>
</header>
<main>
    <div class="card">
        <h3>Positive messages</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis doloremque dolorum, est
        illum ipsa iusto laborum libero magnam modi perferendis quas tempore tenetur ullam! Ipsum neque perspiciatis
        recusandae rerum sit!</p>
        <a href="{{ url_for('hello_world') }}">Try it!</a>
    </div>
    <div class="card">
        <h3>Birthday messages</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque distinctio, eos
        exercitationem, id magni minus numquam perspiciatis porro quas rerum, sapiente. Accusantium commodi explicabo
        nam odio quam rerum tempore.</p>
        <a href="{{ url_for('generic_birthday', name='Dale') }}">Try it!</a>
    </div>
    <div class="card">
        <h3>Some other thing</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi ducimus, ea eaque fugit ipsa
        laborum minima nesciunt, numquam pariatur quam sapiente tempore ut veniam. Beatae consectetur minima quasi
        reprehenderit voluptas.</p>
    </div>
</main>
<footer></footer>
</body>
</html>