<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Affirmation - Home</title>
    <link rel="stylesheet" type="text/css" href="/static/home.css"/>
</head>
<body style="{{ color }}">
<header>
    <div>
        <h1>Affirmation</h1>
        <h5>Feel Good</h5>
    </div>
</header>
<main>
    <div class="card">
        <h3>Positive messages</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis doloremque dolorum, est
            illum ipsa iusto laborum libero magnam modi perferendis quas tempore tenetur ullam! Ipsum neque perspiciatis
            recusandae rerum sit!</p>
        <a class="blue_button" href="{{ url_for('hello_world') }}">Try it!</a>
    </div>
    <div class="card">
        <h3>Birthday messages</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque distinctio, eos
            exercitationem, id magni minus numquam perspiciatis porro quas rerum, sapiente. Accusantium commodi
            explicabo nam odio quam rerum tempore.</p>
        {#        <a href="{{ url_for('birthday', birthday_person='Dale') }}">Try it!</a>#}

        {#    TODO: Ask user for birthday-person's name, and senders name    #}
        <form action="">
            <label for="recipient">Birthday persons's name
                <input id="recipient" type="text" name="recipient" minlength="1">
            </label>

            <label for="sender">Your name
                <input id="sender" type="text" name="sender">
            </label>

            <input class="blue_button" type="submit" onclick="return clicked()" value="Send Birthday Joy!">
        </form>

    </div>
    <div class="card">
        <h3>Some other thing</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi ducimus, ea eaque fugit ipsa
            laborum minima nesciunt, numquam pariatur quam sapiente tempore ut veniam. Beatae consectetur minima quasi
            reprehenderit voluptas.</p>
    </div>
</main>
<footer></footer>
<script type="text/javascript">
    function clicked() {
        let base_url = '{{ base_url }}';
        let recipient = document.getElementById('recipient').value;
        let sender = document.getElementById('sender').value;

        let redirect_to = base_url + '/birthday/to=' + recipient;

        if (!recipient) {
            {#TODO: Flash warning/advice to user#}
            return false;
        }


        if (sender) {
            redirect_to += '/from=' + sender;
        }



        window.location = redirect_to;

        return false;
    }
</script>
</body>
</html>